body {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
}
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  border: 1.8px solid rgb(100, 100, 237);
  background-color: rgb(100, 100, 237);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}

a {
  text-decoration: none;
}
